version 15.5
service timestamps debug datetime msec
service timestamps log datetime msec
no platform punt-keepalive disable-kernel-core
platform console auto
!
hostname {{inventory_hostname}}
!
boot-start-marker
boot system bootflash:/csr1000v-universalk9.03.16.06.S.155-3.S6-ext.SPA.bin
boot-end-marker
!
enable secret 5 $1$qf4k$IxRoQcYaa3J1ZVkLJmbRP0
enable password cisco
!
no aaa new-model
!
subscriber templating
!
multilink bundle-name authenticated
!
domain {{domain}}
!
spanning-tree extend system-id
!
username admin privilege 15 secret 5 $1$yuMZ$W3hp4LQzLPb6xzmRKznKA/
!
redundancy
!
{% if inventory_hostname in groups['qosrouter'] %}
class-map match-any Critical-Apps
 match dscp af21  af22
class-map match-all Call-Signaling
 match dscp cs3
class-map match-any Voice
 match dscp ef
class-map match-all Scavenger
 match access-group name Other
!
policy-map PM_QOS
 class Voice
  priority percent 33
 class Call-Signaling
  bandwidth percent 5
 class Critical-Apps
  bandwidth percent 20
  queue-limit 96 packets
 class Scavenger
  police cir 64000
   conform-action transmit
   exceed-action drop
 class class-default
  fair-queue
  random-detect
{% endif %}
!
interface GigabitEthernet1
 ip address {{mgmt}} 255.255.255.0
 negotiation auto
 no mop enabled
!
interface GigabitEthernet2
 ip address {{wan}} 255.255.255.0
 negotiation auto
{% if inventory_hostname in groups['qosrouter'] %}
 service-policy output PM_QOS
{% endif %}
 !
interface GigabitEthernet3
 ip address {{lan}} 255.255.255.0
 negotiation auto
!
!
router eigrp {{asn}}
 network 192.168.23.0
 passive-interface default
 no passive-interface GigabitEthernet3
!
virtual-service csr_mgmt
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
ip route 0.0.0.0 0.0.0.0 192.168.1.1
!
snmp-server community cisco RO
!
!
control-plane
!
line con 0
 stopbits 1
line vty 0 4
 login local